#cancelButton{
	align-content: right;
}

.hero{
	background-image: url('../../public/assets/img/alphabets.jpg');
	background-size: cover;
	background-position: center center;
	color: white;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.hero-body{
	background-color: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}
