.message{
  background-color: transparent
}

#cancelButton{
	align-content: right;
}

#profile-data{
	background-image: url('../../public/assets/img/alphabets.jpg');
	background-size: cover;
	background-position: center center;
	color: white;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -10;
}

#profile-body{
	background-color: rgba(0,0,0,0.5);
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

#title-hero{
	background-color: #F5F5F5; /* color here #D7D9D7 #CDCDCD */
}

#bottomBlock{
	background-color: #F5F5F5; /* color here */
	padding-bottom:  225px;
	padding-top: 25px;
}

#editButton{
	margin-right: 25px;
}

#imageComp{
	border:
}
